.directive {
  padding: 12px 0;
}

.box {
  width: 4rem;
  height: 4rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}

.wheat {
  background-color: wheat;
}

.sky-blue {
  background-color: skyblue;
}
